aws_region=<aws_region>
lambda_bucket_name=<lambda_bucket_name>
SNOWFLAKE_ACCOUNT=<SNOWFLAKE_ACCOUNT>
SNOWFLAKE_USERNAME=<SNOWFLAKE_USERNAME>
SNOWFLAKE_PASSWORD=<SNOWFLAKE_PASSWORD>
SNOWFLAKE_DATABASE=<SNOWFLAKE_DATABASE>
SNOWFLAKE_SCHEMA=<SNOWFLAKE_SCHEMA>
SNOWFLAKE_WAREHOUSE=<SNOWFLAKE_WAREHOUSE>
SNOWFLAKE_ROLE=<SNOWFLAKE_ROLE>
AUTH0_ISSUER_URL=<AUTH0_ISSUER_URL>
AUTH0_AUDIENCE=<AUTH0_AUDIENCE>